
body{
    background-color: #000000;
  padding: 0px;
  margin: 0px;
}

#gradient
{
 width: 100%;
 height: 800px;
 padding: 0px;
 margin: 0px;
}

a{
    font-family: 'Quicksand', sans-serif;
}
nav a {
    font-family: 'Quicksand', sans-serif;
    text-decoration:none;
    color: #DCC8FA;
}
 nav{
    
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    
 }
.col-md-2 {
    display: flex;
width: 1440px;
height: 48px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background: #000000;

}

.col-md-10 {
    display: flex;
width: 1440px;
height: 48px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background: #000000;
text-decoration: none;
}
 


.foto{
   
    display: flex;
    width: 1440px;
    height: 50vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 50%;
    
    
}

.col-md-7{
    display: flex;
    width: 1440px;
    height: 50vw ;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  
}

.gradient{
   background-color: #D0C5FF;
    
}
.fondonegro{
    background:#000000;
}

.col-md-6{
    display: flex;
    width: 1440px;
    height: 700px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
}

.lila{
    background-color: #000000;
    
}



.banner{
    display: flex;
width: 1440px;
height: 200px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background: #D0C5FF;
}

.col-md-4{
    display: flex;
    flex-direction:row;
    width: 1440px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    
}

.col-md-8{
    display: flex;
    width: 1440px;
    height: 900px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  
}
.col-md-12{
   background-color: #D0C5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #D0C5FF;
    
}

.col-md-3{
    display: flex;
    width: 1440px;
    height: 750px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #000000;
  
}
.carousel-container {
    max-width: 100px; /* Ajusta este valor al ancho deseado del carrusel */
    margin: 0 auto; 
    /* Centra el carrusel horizontalmente */
  
  }
  .carousel-caption {
    top: 0;
    bottom: initial;
    transform: translateY(0);
  
  }
  
  .avatar {
   margin-top: 100px;
	width: 35vh;
	
	box-sizing: border-box;
	border: 5px #070707;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
	img { width: 50%; height:50%; }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
